{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/masjid.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- brand logo  -->
        <div class="nabbar">
            <div class="logo_container">
               <div class="brand_logo">☪</div>
                   <div class="brand_name">
                      <p class="name">DeenConnect</p>
                      <p class="sub_name">Pakistan</p>
                   </div>
            </div>
        <!-- home button -->
            <a href="/" class="home">
              🏠 Home
            </a>
        <!-- islamic learning  -->
            <a href="/learning/" class="learning">
                📖  <p class="btn">Islamic Learning</p>
            </a>
        <!-- dua button  -->
            <a href="/Dua/" class="dua">
                🤲 Duas
            </a>
        <!-- masjid button  -->
            <a href="/masjid/" class="masjid learning">
                🕌  <p class="btn">Mosque Finder</p> 
            </a>

            <a href="/zakat/" class="masjid learning">

                🧮  <p class="btn">Zakat</p> 
           </a>

            <button class="get_start">Get started</button>
        </div>
    </header>

    <main>
        <section>
               <div class="home_intro">
                    <div class="intro_box">
                       
                            <span class="purpose animation">Mosque Finder</span>
                        
                        <h2 class="heading2 animation">Find Mosques Across Pakistan</h2>
                       <p class="text animation">Search by city, area, or mosque name. Get live prayer timings, address, and directions</p>

                    </div>
                       <div class="searchbar animation">
                    <select class="city">
                       <option selected disabled>📍 Select City</option>
                       <option>Lahore</option>
                       <option>Karachi</option>
                       <option>Islamabad</option>
                       <option>Rawalpindi</option>
                       <option>Faisalabad</option>
                       <option>Multan</option>
                        <option>Peshawar</option>
                        <option>Quetta</option>
                        <option>Sialkot</option>
                        <option>Gujranwala</option>
                    </select> 
                      <div class="search_container">                     
                        <input type="text" placeholder="🔍search mosque by name or area..." class="search">
                         {% csrf_token %}
                        <button class="searchbtn">🔍</button>
                      </div>
                         <button class="find"> 🕌 Find Mosques Near Me</button>
                    </div>

                </section>

<section class="mosquebody">
    <div class="pur">
        <span class="purpose2">Explore Masajid Around You</span>
    </div>
    <div class="static">🔍 Go and search your nearby mosque </div>

 <div class="mosquebox reveal">
     <div class="loading">
        <i class="fa-solid fa-spinner spinner"></i>
        <span class="loadtext">Searching nearby mosques...</span>
    </div>

 </div> 
</section>        

    </main>
        <footer>

            <div class="foot">
                <p class="ic_translate">© 2026 DeenConnect Pakistan</p>
                <p class="closing">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
                <p class="ic_translate">Made by Saeed❤️in Lahore</p>
            </div>
        </footer>

<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
           <script src="{% static 'js/masjid.js' %}"></script>
</body>
</html>